# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.tdo

# glossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy

# Compiled output. Remove this line if you prefer to track the PDF (be aware
# that it produces a large binary diff on every rebuild).
main.pdf
